:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.home-hero {
  overflow: hidden;
  padding-bottom: 2.1875rem;
  padding-top: 30vh;
  position: relative;
}

@media only screen and (min-width: 48rem) {
  .home-hero {
    align-items: center;
    display: flex;
    padding-bottom: 12.5rem;
    padding-top: 12.5rem;
  }
}

@media only screen and (min-width: 77.5rem) {
  .home-hero {
    min-height: 100vh;
    padding-bottom: 8.75rem;
    padding-top: 13.75rem;
  }
}

.hero__heading {
  padding-bottom: max(2.5rem, min(2.589vw + 1.8932rem, 5rem));
}

.heading-xl {
  font-size: max(3.125rem, min(13.3333vw + 2rem, 18rem));
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 0.9;
}

.inline {
  display: inline-block;
}

.relative {
  position: relative;
}

.clip {
  overflow: hidden;
  position: relative;
}

.header {
  height: 100vh;
}

.heading__text-container {
  display: inline-flex;
  margin-right: 10px;
  visibility: hidden;
}

.o-text-wrap-1 {
  backface-visibility: hidden;
}

.o-text-wrap-2 {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;

}
.hero__flair {
  font-size: 0px;
  position: absolute;
  z-index: -1;
}

.hero__flair img,
.hero__flair svg {
  height: 100%;
  width: 100%;
}

.hero__flair-circles {
  left: max(.3125rem,min(.323625vw + .23665rem,.625rem));
  visibility: hidden;
}

.hero__flair-circles,.hero__flair-windmill {
  height: max(1.9375rem,min(6.86084vw + .32949rem,8.5625rem));
  top: max(-4.75rem,min(-4.78964vw - .00242718rem,-1.125rem));
  width: max(1.9375rem,min(6.86084vw + .32949rem,8.5625rem))
}

.hero__flair-windmill {
  left: max(.3125rem,min(.711974vw + .145631rem,1rem))
}

.hero-heading__text {
  position: relative;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
